.gallery/demolisher-fissure-hot-fade-HD.png
.gallery/demolisher-fissure-hot-fade-SD.png
.gallery/magma-eruption-2-HD.png
.gallery/magma-eruption-2-SD.png
.gallery/thumbnail_huge.png
data/space-age/graphics/entity/demolisher/fissure/demolisher-crack-effect.png
data/space-age/graphics/entity/demolisher/fissure/demolisher-fissure-fade.png
data/space-age/graphics/entity/demolisher/fissure/demolisher-fissure-hot-fade.png
data/space-age/graphics/entity/demolisher/magma-eruption/magma-eruption-1.png
data/space-age/graphics/entity/demolisher/magma-eruption/magma-eruption-2.png
data/space-age/graphics/entity/demolisher/magma-eruption/magma-eruption-3.png
data/space-age/graphics/entity/demolisher/magma-eruption/magma-eruption-4.png
data/space-age/graphics/entity/demolisher/trail-lower/demolisher-trail-lower.png
data/space-age/graphics/entity/demolisher/trail-upper/demolisher-trail-upper.png
